<div class="container">
  <div class="row justify-content-center" style="margin: 24px;">
    <h1 style = "text-align: center;">Edit Booking for <%= @booking.game.name %></h1>
    <div class="col-6">
      <%= simple_form_for [@game, @booking] do |f|%>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <div class="row justify-content-center">
          <%= f.submit class: 'btn-red' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
