<h1 style = "text-align: center;"> All bookings </h1>


<% if @bookings.any?{ |booking| (booking.user == current_user)} %>
  <h2> My bookings </h2>
<% end %>

<% @bookings.each do |booking| %>
  <% if booking.user == current_user  %>
    <%= "Owner: #{booking.game.user.username}" %> <br>
    <%= "Game Name: #{booking.game.name}" %> <br>
    <%= "Start date: #{booking.start_date}"%> <br>
    <%= "End date: #{booking.end_date}" %> <br>
    <%= "Approved: #{booking.approved}"%> <br>
    <hr>
  <% end %>
<% end %>

<% if @bookings.any? { |booking| (booking.game.user == current_user) }%>
  <h2> Bookings on my games </h2>
<% end %>

<% @bookings.each do |booking| %>
  <% if booking.game.user == current_user %>
    <%= "Renter: #{booking.user.username}" %> <br>
    <%= "Game Name: #{booking.game.name}" %> <br>
    <%= "Start date: #{booking.start_date}"%> <br>
    <%= "End date: #{booking.end_date}" %> <br>
    <%= "Aproved: #{booking.approved}"%> <br>
    <hr>
  <% end %>
<% end %>
