<%# <div class="bookings-card-category" style="background-color: #EA3E4E;" >
  <h1 style= "font-weight: bold; font-family: 'Righteous';"> Bookings </h1>
</div> %>

<div class="container bookings-container">

  <% if @bookings.any?{ |booking| (booking.user == current_user)} %>

    <h2 class = "bookings-padding-top"> Your bookings </h2>
        <table class = "content-table">
            <thead>
              <tr>
                <th> Game </th>
                <th> Owner  </th>
                <th> Start date </th>
                <th> End date </th>
                <th> Price per day (£)</th>
              </tr>
            </thead>
            <tbody>
              <% @bookings.each do |booking| %>
              <% if booking.user == current_user %>
                <tr>
                  <th class = "color-red"> <%= link_to "#{booking.game.name}", booking_path(booking), style: "color: #EA3E4E;" %> </th>
                  <th> <%= booking.game.user.username %> </th>
                  <th> <%= booking.start_date %></th>
                  <th> <%= booking.end_date %></th>
                   <th> £<%= number_with_precision(booking.game.price_per_day, precision: 2) %> per day</th>
                </tr>
              <% end %>
              <% end %>
            </tbody>
        </table>
  <% else %>
    <h2 class = "bookings-padding-top"> Your bookings </h2>
    <div class="card mb-3" style="max-width: 800px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://blog.rentacenter.com/wp-content/uploads/2019/04/two-guys-happy-playing-video-games.jpg" class="img-fluid rounded-start" alt="...">
       </div>
      <div class="col-md-8 center-card-text booking-card-text">
        <div class="card-body booking-align-right">
          <h5 class="card-title" style = "color: #EA3E4E;"> You haven't booked any games!</h5>
          <p class="card-text"> Why not browse through the list of games we have to offer and try them out!</p>
          <div class = "bookings-btn-red" ><%= link_to "View games", games_path, class: "btn-red"%> </div>
       </div>
      </div>
     </div>
    </div>
  <% end %>

  <% @mybookings =  @bookings.select { |booking| (booking.game.user == current_user) } %>

  <% if @mybookings.any? %>

    <h2> Bookings on your games</h2>
    <table class = "content-table">
      <thead>
        <tr>
          <th> Game </th>
          <th> Renter </th>
          <th> Start date </th>
          <th> End date </th>
          <th> Price per day (£)</th>
        </tr>
      </thead>
      <tbody>
        <% @mybookings.each do |booking|  %>
          <tr>
            <th class = "color-red"> <%= link_to "#{booking.game.name}", booking_path(booking), style: "color: #EA3E4E;"%> </th>
            <th> <%= booking.user.username %> </th>
            <th> <%= booking.start_date %></th>
            <th> <%= booking.end_date %></th>
            <th> £<%= number_with_precision(booking.game.price_per_day, precision: 2) %> per day</th>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
   <h2> Bookings on your games </h2>
    <div class="card mb-3" style="max-width: 800px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2014/09/video-game-rental-options-featured.jpg" class="img-fluid rounded-start" alt="...">
       </div>
      <div class="col-md-8 center-card-text booking-card-text">
        <div class="card-body booking-align-right">
          <h5 class="card-title" style = "color: #EA3E4E;"> You don't have any bookings on your games</h5>
          <p class="card-text"> Why list a new game and start making money today!</p>
          <div class = "bookings-btn-red"> <%= link_to "List games", new_game_path, class: "btn-red"%> </div>
       </div>
      </div>
     </div>
    </div>
  <% end %>
</div>
