<h1 style = "text-align: center;"> <%= "Booking: #{@game.name}" %></h1>

<%= simple_form_for [@game, @booking] do |f|%>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit class: 'btn btn-danger text-white' %>
<% end %>
