
<div class="container">

  <h1 style = "text-align: center;"> <%= @booking.game.name %></h1>

  <%= "Renter: #{@booking.game.user.username}" %> <br>
  <%= "Owner: #{@booking.user.username}" %> <br>
  <%= "Start date: #{@booking.start_date}"%> <br>
  <%= "End date: #{@booking.end_date}" %> <br>

  <%= link_to 'Back to bookings', bookings_path %>

</div>
