<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="flex-logo">
      <%= image_tag "logo.png" %>
      <h3 class="logo-text">Level-Up</h3>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li>
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Home</p>
          <% end %>
        </li>
        <li>
          <%= link_to games_path, class: "nav-link" do %>
          <i class="fa-solid fa-ghost"></i>
          <p>Games</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_game_path, class: "nav-link" do %>
            <i class="fa-solid fa-puzzle-piece"></i>
            <p>List Game</p>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "user_avatar.png", class: "avatar dropdown-toggle",
                                            id: "navbarDropdown",
                                            data: { bs_toggle: "dropdown" },
                                            'aria-haspopup': true,
                                            'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My games", "profile", class: "dropdown-item" %>
            <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to games_path, class: "nav-link" do %>
            <i class="fa-solid fa-puzzle-piece"></i>
            <p>List Game</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fa-solid fa-circle-user"></i>
            <p>Log in</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
