<div class="container profile-container">

  <div class="profile-page">
    <div class="profile-info">
      <div class="profile-details">
        <%= image_tag "user_avatar.png", :class => "profile-image" %>
          <div class="profile-text">
            <h3><%= (current_user.first_name).capitalize %> <%= (current_user.last_name).capitalize %></h3>
            <p><strong>Username</strong> <%= current_user.username %></p>
            <p><strong>Email</strong> <%= current_user.email %></p>
          </div>
      </div>
      <%= link_to 'Edit Info', 'users/edit', class: 'btn-red' %>
    </div>

    <div class="profile-games-listings">
      <div class="games-header">
        <h3>Active Listings</h3>
        <%= link_to 'List game', new_game_path, class: 'btn-red' %>
      </div>

      <% @my_games.each do |game| %>
        <div class="game-listing">
          <div class="game-image">
            <% if game.photo.attached? %>
            <%= cl_image_tag game.photo.key, height: 100, width: 100, crop: :pad %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1562229125-6d6075419a22?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974" style="height: 100px; width: 100px; object-fit: contain;">
          <% end %>
          </div>
          <div class="game-listing-text">
            <h5><%= game.name %></h5>
            <p><strong>Posted on</strong> <%= game.created_at.strftime("%F") %></p>
            <%= link_to 'More', game_path(game), class: 'more-info' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
