<h1> <%=  @game.name %></h1>

<%= simple_form_for(@game) do |f|%>
  <%= f.input :name %>
  <%= f.input :category, :collection => ["Video games", "Consoles", "Boardgames", "Peripherals"] %>
  <%= f.input :location %>
  <%= f.input :price_per_day %>
  <%= f.input :description %>
  <%= f.submit %>
<% end  %>
