<div class="container">
  <h1 style = "text-align: center;"> All games </h1>

  <%= form_tag games_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a game"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  <% @games.each do |game| %>
    <div class="row justify-content-centered">
      <div class="col-12 col-lg-6">
          <%= link_to game_path(game) do %>
        <div class="card-game" >
          <%= cl_image_tag game.photo.key, height: 300, width: 300, crop: :thumb  %>
          <div class="card-details">
          <div class="card-text">
          <h2><%= game.name %></h2>
          <p><%= game.description %></p>
          <p><%= game.category %></p>
          </div>
            <div class="card-game-infos">
              <h2><%= game.price_per_day %> £/day </h2>
            </div>
            </div>
        </div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
