<div class="container">
  <%# Put search bar in here by rendering a partial%>
  <div class="title-elements">
    <h1>Available Games</h1>
    <%= link_to "List your game", new_game_path, class: "btn-red" %>
  </div>

  <%# <div class="row justify-content-centered"> %>
    <% @games.each do |game| %>
    <%# <div class="col-12 col-lg-6"> %>
      <%= link_to game_path(game) do %>
        <div class="card-game">
          <% if game.photo.attached? %>
            <%= cl_image_tag game.photo.key, height: 300, width: 300, crop: :thumb  %>
          <% else %>
            <img src="https://unsplash.com/photos/jZ9TPXjoZQk" />
          <% end %>
          <div class="card-details">
            <div class="card-text">
              <h2><%= game.name %></h2>
              <p><%= game.description %></p>
              <p class="category"><%= game.category %></p>
            </div>
            <div class="card-game-infos">
              <h5>£ <%= number_with_precision(game.price_per_day, precision: 2) %> per day </h5>
            </div>
          </div>
        </div>
      <% end %>
      <%# </div> %>
    <%# </div> %>
    <% end %>
</div>

<div class>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
