<h1> All games </h1>

<% @games.each do |game| %>
  <h2> <%= link_to game.name, game_path(game) %></h2>
  <h2><%= game.category %></h2>
  <h2><%= game.location %></h2>
  <h2><%= game.price_per_day %></h2>
  <h2> <% if user_signed_in? && current_user == game.user %>
    <%= link_to "Delete", game_path(game), method: :delete,
    data: { confirm: "Are you sure you want to delete #{game.name}?"} %>
  <% end %></h2>
<% end %>
