<div class="container">
  <h1 style = "text-align: center;"> All games </h1>
  <% @games.each do |game| %>
    <div class="row justify-content-left">
      <div class="col-12 col-lg-6">
          <%= link_to game_path(game) do %>
        <div class="card-game" >
          <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
          <%=image_tag game.photo.url %>
          <div class="card-details">
          <div class="card-text">
          <h2><%= game.name %></h2>
          <p><%= game.description %></p>
          <p><%= game.location %></p>
          </div>
            <div class="card-game-infos">
              <h2><%= game.price_per_day %></h2>
            </div>
            </div>
        </div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
