<h1> <%=@game.name %></h1>
<h2><%= @game.category %></h2>
<h2><%= @game.description %></h2>
<h2><%= @game.location %></h2>
<h2><%= @game.price_per_day %></h2>
<h2> <%= link_to 'Book this game', new_game_booking_path(@game)%></h2>
