<div class="container">
  <div class="game-container">
    <div class="game-title-box">
      <h1><%= @game.name %></h1>
      <div class="title-navs">
        <p><%= @game.category %></p>
        <% if @game.user == current_user %>
          <%= link_to "Edit game", edit_game_path(@game), class: "title-buttons" %>
          <%= link_to "Delete game",
                      game_path(@game),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete #{@game.name}?" },
                      class: "title-buttons" %>
          <%= link_to "Back to games", games_path, class: "title-buttons" %>
        <% else %>
          <%= link_to "Back to games", games_path, class: "title-buttons" %>
        <% end %>
      </div>
    </div>

    <div class="game-info-boxes">
      <div class="game-info-left col-8">
        <%= cl_image_tag @game.photo.key, height: 300, width: 300, crop: :pad %>
        <div class="game-text">
          <h5><%= @game.description %></h5>
          <p><strong>Owned by</strong> <%= @game.user.username %></p>
          <p><strong>Pick-up location</strong> <%= @game.location %></p>
          <h6>£ <%= number_with_precision(@game.price_per_day, precision: 2) %> per day</h6>
        </div>
      </div>

      <div class="game-info-right col-4">
        <%= render "booking_form", game: @game, class: "game-booking-form" %>
        <div class="game-map"
             style="height: 50vh;"
             data-controller="mapbox"
             data-mapbox-markers-value="<%= @markers.to_json %>"
             data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

  </div>
</div>
