<h1 style = "text-align: center;"> <%=@game.name %></h1>

<div class="flex-container">
  <div class="container">
    <h2>Category: <%= @game.category %></h2>
    <h2>Description: <%= @game.description %></h2>
    <h2>Location: <%= @game.location %></h2>
    <h2>Price per day: £<%= @game.price_per_day %></h2>
    <button> <h2> <%= link_to 'Back to all games', games_path%></h2> </button>
    <% if @game.user = current_user %>
      <button> <h2> <%= link_to 'Edit Game', edit_game_path(@game)%></h2> </button>
      <button> <h2> <%= link_to "Delete", game_path(@game), method: :delete,
        data: { confirm: "Are you sure you want to delete #{@game.name}?" } %></h2></button>
    <% end %>

  </div>
  <div class="container">
   <%= render 'bookings_form' %>
  </div>
</div>
