<div class="container">
  <div class="game-info-left">
    <div class="game-title-box">
      <h1><%= @game.name %></h1>
      <p><%= @game.category %></p>


    </div>
    <%= cl_image_tag @game.photo.key, height: 300, width: 300, crop: :pad %>
    <div class="game-text">
      <h5><%= @game.description %></h5>
      <p><%= @game.location %></p>
      <h6>£ <%= number_with_precision(@game.price_per_day, precision: 2) %> per day</h6>
    </div>
  </div>

  <div class="game-info-right">
    <div class="title-buttons">
      <% if @game.user == current_user %>
        <%= link_to "Edit game", edit_game_path(@game) %>
        <%= link_to "Delete game",
                    game_path(@game),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete #{@game.name}?" } %>
      <% else %>
      <% end %>
    </div>
    <div class="form">
      <%= render "booking_form", game: @game %>
    </div>
  </div>





</div>




<!--

<h1 style = "text-align: center;"> <%=@game.name %></h1>

<div class="flex-container">
  <div class="container">
    <h2>Category: <%= @game.category %></h2>
    <h2>Description: <%= @game.description %></h2>
    <h2>Location: <%= @game.location %></h2>
    <h2>Price per day: £<%= @game.price_per_day %></h2>
    <button> <h2> <%= link_to 'Back to all games', games_path%></h2> </button>
    <% if @game.user = current_user %>
      <button> <h2> <%= link_to 'Edit Game', edit_game_path(@game)%></h2> </button>
      <button> <h2> <%= link_to "Delete", game_path(@game), method: :delete,
        data: { confirm: "Are you sure you want to delete #{@game.name}?" } %></h2></button>
    <% end %>

  <

before -->
